/* CreateExperienceTabs.module.css */

.progressItem {
  position: relative;
  margin-bottom: 1rem;
}

.progressLine {
  content: "";
  position: absolute;
  height: calc(100% - 1rem);
  width: 1px;
  background-color: #999;
  top: 1rem;
  right: 0;
  z-index: -1;
}

.progressLineSelected {
  background-color: #007bff; /* Replace with your desired color */
}
